.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  background-color: #ffe;
  margin: 90px 0;
  padding-top: 45px;
  border: 1px solid #ccc;
}
.profileCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ccc;
}
.profileAvatar {
  width: 250px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.profileName {
  font-weight: 900;
  font-size: larger;
}
.profileText {
  margin: 5px;
  color: #aaa;
  font-size: larger;
}
.profileMarginBottom {
  composes: profileText;
  margin-bottom: 30px;
}
.profileUl {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background-color: #eee;
}
.profileLi {
  border: 1px solid #ccc;
  width: 199px;
  height: 150px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profileSpanFirst {
  font-size: large;
  font-weight: 500;
  color: #aaa;
  margin-bottom: 10px;
}
.profileSpanSecond {
  font-size: larger;
  font-weight: 900;
}